*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: aquamarine;
}

#p{
    background-color: blueviolet;    
    display: grid;
    text-align: center;
    border: 50px solid black;
}
