*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: aquamarine;
}

#p{
    padding: 5px;
    border-radius: 10px 30px;
    background-color: blueviolet;    
    display: grid;
    text-align: center;
    border: px solid black;
}
input, button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
